@page
@model FinalProjectShonenBot.Pages_Characters.IndexModel
@using final.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Shonen Bot</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead style="text-align:center;">
        <tr>
            <th>
                Character
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Character[0].HP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Durability)
            </th>
            <th>
                Anime
            </th>
        </tr>
    </thead>
    <tbody style="text-align:  center; vertical-align: middle;">
@foreach (var item in Model.Character) {
        <tr>
            <td width="20%">
                <img src = @Html.DisplayFor(modelItem => item.CharImageURL) class="img-fluid">
                    <div class="img-caption d-none d-md-block" style="text-shadow: 2px 2px 2px black">
                        <p class="fs-4">@Html.DisplayFor(modelItem => item.CharacterName)</p>
                    </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durability)
            </td>
            <td width="15%">
                <img src = @Html.DisplayFor(modelItem => item.Anime.AnimeImageURL) class="img-fluid">
                <div class="img-caption d-none d-md-block" style="text-shadow: 2px 2px 2px black">
                    <p class="fs-4">@Html.DisplayFor(modelItem => item.Anime.AnimeName)</p>
                </div>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CharacterID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CharacterID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CharacterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr />
@{
    // If we are on page 1, prevDisabled will be set to the "disabled" class
    // otherwise, it will be empty. So our previous button will be enabled or disabled based on this logic
    var prevDisabled = "";
    var nextDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
    if (Model.PageNum >= Model.TotalPages)
    {
        nextDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>