@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/slide1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-shadow: 2px 2px 2px black">
                <h1>Fight Anime Characters</h1>
                <p class="fs-2">Great Combat System in an Easy to Understand Fashion.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/slide2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-start" style="text-shadow: 2px 2px 2px black">
                <h1>All in Discord</h1>
                <p class="fs-2">The Entire Game Takes Place in a Discord Chat.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/slide3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-start" style="text-shadow: 2px 2px 2px black">
                <h1>Work In Progress</h1>
                <p class="fs-2">We Are Constantly Adding More Characters. Up to Ten for Each Anime.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr>
<div>
    @foreach(var item in Model.Anime) {
        double characterCount = item.Characters.Count;
        double completion = ((characterCount/10)*5);
        <div class="row">
            <div class="col-4">
                <img src = @Html.DisplayFor(modelItem => item.AnimeImageURL) class="img-fluid">
            </div>
            <div class="col-8">
                <h3>
                    @Html.DisplayFor(modelItem => item.AnimeName)
                </h3>
                <p>
                    Completion Bar:
                    <span>@String.Format("{0:F1}", completion) </span>
                    @for(double i = 1; i < 6; i++)
                    {
                        if(completion >= i)
                        {
                            <i class="bi bi-square-fill" style="color: green;"></i>
                        } else if(completion + 1 > i)
                        {
                            <i class="bi bi-square-half" style="color: green;"></i>
                        } else
                        {
                            <i class="bi bi-square"></i>
                        }
                    }
                </p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="@("#characters" + @item.AnimeID)">Show Characters</button>
                <div class="collapse" id="@("characters" + @item.AnimeID)">
                    <hr>
                    @foreach(var r in item.Characters)
                    {
                        <h1>
                            @Html.DisplayFor(modelItem => r.CharacterName)
                            <img src = @Html.DisplayFor(modelItem => r.CharImageURL) class="img-fluid">
                        </h1>
                    }
                </div>
            </div>
        </div>
        <hr>
    }
</div>